In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
students = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_project\final_student_list.xlsx", dtype={'SID': str})
students.head()

,SID,SID_8digit,SID_5digit,Name,Grade_actual,Grade,EFL,Note,MVA/MVSM,concat,4 last digits,Học sinh cùng lớp có chung 4 số cuối ID,last_join,days_to_end,dropout,_merge
0,2001-4683,20014683,14683,Tran Khanh Chi,HM 6,HM 6,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN,2025-05-29 18:29:00,1,False,both
1,2001-3864,20013864,13864,Nguyen Ngoc Thien,HM 6,HM 6,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN,2025-04-24 19:28:00,36,True,both
2,2300-3836,23003836,3836,Đào Quỳnh Anh,Grade K,Grade K,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN,2025-03-26 19:58:00,65,True,both
3,2300-3836,23003836,3836,Dao Quynh Anh,NaN,Grade 2,NaN,NaN,NaN,NaN,NaN,NaN,2025-03-26 19:58:00,65,True,both
4,2100-0100,21000100,100,Nguyễn Hoàng Trúc An,Grade K,Grade K,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN,2025-01-07 19:34:00,143,True,both

In [4]:
zoom = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_project\combined_student_zoom.xlsx", dtype={'SID': str})
zoom.head()

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,SID_full,Name,Grade,EFL,Note,MVA/MVSM,concat,4 last digits,Học sinh cùng lớp có chung 4 số cuối ID,_merge
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Mai Nguyen Truc Linh 01816,23001816@minhvietacademy.org,...,2300-1816,Mai Nguyễn Trúc Linh,Grade 1,EFL K5,Chính thức,MVA,MVA2300-1816,1816.0,NaN,both
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Nguyen Pham Nhat Minh 02469,22002469@minhvietacademy.org,...,2200-2469,Nguyễn Phạm Nhật Minh,Grade 1,EFL K5,Chính thức,MVA,MVA2200-2469,2469.0,NaN,both
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Yen Ha Tu Vy 02190,24002190@minhvietacademy.org,...,2400-2190,VY HÀ TÚ YÊN,Grade 1,EFL K5,Chính thức,MVA,MVA2400-2190,2190.0,NaN,both
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Lai Ngan Khanh 01771,23001771@minhvietacademy.org,...,2300-1771,Lại Ngân Khánh,Grade 1,EFL K5,Chính thức,MVA,MVA2300-1771,1771.0,NaN,both
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Tran Minh Khang 03927,23003927@minhvietacademy.org,...,2300-3927,Trần Minh Khang,Grade 1,EFL K5,Chính thức,MVA,MVA2300-3927,3927.0,NaN,both